# Режим дебага
DEBUG=True

# FastAPI
SERVICE_HOST=0.0.0.0
SERVICE_PORT=8080
RELOAD_FLAG=True

# CORS настройки
ALLOW_METHODS='["GET", "POST", "OPTIONS"]'
ALLOW_HOSTS='["localhost:8080"]'
ALLOW_HEADERS='["Content-Type","Set-Cookie","Access-Control-Allow-Headers","Access-Control-Allow-Origin","Authorization"]'
ALLOW_ORIGINS='["http://localhost:8080"]'
ALLOW_CREDENTIALS=True

# База данных MySQL
DB_HOST=db
DB_PORT=3306
DB_NAME=delivery_db
DB_USER=delivery_user
DB_PASS=db_pass
DB_ROOT_PASS=rootpass


# API ЦБР
CBR_API_URL=https://www.cbr-xml-daily.ru/daily_json.js

# Redis
REDIS_URL=redis://redis:6379/0

# Celery
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
CELERY_RESULT_BACKEND=rpc://

# Сессионные cookie
COOKIE_SECRET_KEY=your_cookie_secret_key_here